VivienFrancesPabuna/TryItPage/TryItPage/Connected Services/InventoryService/InventoryService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="InventoryService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54503/InventoryService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54503/InventoryService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="InvService_GetLatestQuantities_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLatestQuantities" />
  </wsdl:message>
  <wsdl:message name="InvService_GetLatestQuantities_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLatestQuantitiesResponse" />
  </wsdl:message>
  <wsdl:message name="InvService_UpdateQuantities_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateQuantities" />
  </wsdl:message>
  <wsdl:message name="InvService_UpdateQuantities_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateQuantitiesResponse" />
  </wsdl:message>
  <wsdl:message name="InvService_DecrementItemQuantity_InputMessage">
    <wsdl:part name="parameters" element="tns:DecrementItemQuantity" />
  </wsdl:message>
  <wsdl:message name="InvService_DecrementItemQuantity_OutputMessage">
    <wsdl:part name="parameters" element="tns:DecrementItemQuantityResponse" />
  </wsdl:message>
  <wsdl:message name="InvService_IncrementItemQuantity_InputMessage">
    <wsdl:part name="parameters" element="tns:IncrementItemQuantity" />
  </wsdl:message>
  <wsdl:message name="InvService_IncrementItemQuantity_OutputMessage">
    <wsdl:part name="parameters" element="tns:IncrementItemQuantityResponse" />
  </wsdl:message>
  <wsdl:portType name="InvService">
    <wsdl:operation name="GetLatestQuantities">
      <wsdl:input wsaw:Action="http://tempuri.org/InvService/GetLatestQuantities" message="tns:InvService_GetLatestQuantities_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/InvService/GetLatestQuantitiesResponse" message="tns:InvService_GetLatestQuantities_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateQuantities">
      <wsdl:input wsaw:Action="http://tempuri.org/InvService/UpdateQuantities" message="tns:InvService_UpdateQuantities_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/InvService/UpdateQuantitiesResponse" message="tns:InvService_UpdateQuantities_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DecrementItemQuantity">
      <wsdl:input wsaw:Action="http://tempuri.org/InvService/DecrementItemQuantity" message="tns:InvService_DecrementItemQuantity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/InvService/DecrementItemQuantityResponse" message="tns:InvService_DecrementItemQuantity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IncrementItemQuantity">
      <wsdl:input wsaw:Action="http://tempuri.org/InvService/IncrementItemQuantity" message="tns:InvService_IncrementItemQuantity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/InvService/IncrementItemQuantityResponse" message="tns:InvService_IncrementItemQuantity_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_InvService" type="tns:InvService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLatestQuantities">
      <soap:operation soapAction="http://tempuri.org/InvService/GetLatestQuantities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateQuantities">
      <soap:operation soapAction="http://tempuri.org/InvService/UpdateQuantities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DecrementItemQuantity">
      <soap:operation soapAction="http://tempuri.org/InvService/DecrementItemQuantity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IncrementItemQuantity">
      <soap:operation soapAction="http://tempuri.org/InvService/IncrementItemQuantity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InventoryService">
    <wsdl:port name="BasicHttpBinding_InvService" binding="tns:BasicHttpBinding_InvService">
      <soap:address location="http://localhost:54503/InventoryService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>